@model IEnumerable<Payroll_Management_System.Models.Leave>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(User.IsInRole("Administrator")){
    
    <h1 class="mt-3">Pending Leaves</h1>
    
    <table class="table mt-4">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumOfDays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th>
                    <label>Action</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.LeaveStatus.Equals("Pending for approval"))
                {
                    
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOfDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reason)
                        </td>
                        <td>
                            <a class="btn btn-success me-2" asp-action="Approve" asp-route-id="@item.Id">Approve</a>
                            <a class="btn btn-danger" asp-action="Reject" asp-route-id="@item.Id">Reject</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else if(User.IsInRole("Employee")){

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumOfDays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumOfDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
