@model IEnumerable<Payroll_Management_System.Models.Leave>

@{
    ViewData["Title"] = "Leaves Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-lg-10">
        <h1 id="Heading">Leaves Report</h1>
    </div>
    <div class="col-lg-2">
        <div class="mt-4 me-5">
            <button class="btn btn-dark" type="button" onclick="JavaScript:printReport('print');">
                <i class="bi bi-printer-fill" style="color:white;" ></i>  Print
            </button>
        </div>
    </div>
</div>

<div id="print">
    <table class="table table-bordered mt-5">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumOfDays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveStatus)
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveStatus)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {

    <script language="javascript" type="text/javascript">
        function printReport(strid) {
            var divElements = document.getElementById(strid).innerHTML;
            var heading = document.getElementById("Heading").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = '<h3>' + heading + '</h3>'+divElements;
            window.print();
            document.body.innerHTML = oldPage;
        }
    </script>
}